.about-home-container::before {
  content: "";
  position: absolute;
  top: 1%;

  left: 0;
  margin-right: 0;
  width: 150px; /* adjust size */
  height: 150px;
  background-image: url("../assets/leaf.png"); /* or '../assets/leaf.png' if imported differently */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2; /* behind content */
  opacity: 0.7; /* optional */
}
.swiper-pagination-progressbar {
  background: rgba(255, 255, 255, 0.2); /* background line */
  height: 4px;
}
.swiper-pagination-progressbar-fill {
  background: #4baf47; /* progress bar fill */
}
